.background    { background: url(https://i.imgur.com/0T0im.png);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }
.floater       { background: #ffec9c; }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }
.enemy  { background: red; } 

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
